<h1>Hey <%= @user.name %>,</h1>

<p>This is a reminder that your event "<strong><%= @event.title %></strong>" is starting at <%= @event.date.strftime("%I:%M %p") %>.</p>

<p>Event Description: <%= @event.description %></p>

<p>Best of luck! 🎉</p>
